//META{"name":"Popouts_Upgraded","description":"Adds a growing backdrop to popouts and stylized User Popouts.","author":"maple","version":"1.25"}*//{}

@import url(https://gitcdn.xyz/repo/mrmaple240/Popouts-Upgraded/master/main.css)

/* Popout Things */

.search-popout .results-group {
    background: #fbfbfb;
}
[class*=userPopout],
#pubs-container,
#voice-connection-popout,
.incoming-call {
    outline: 90vw solid rgba(8,8,8,.33);
    outline-offset: -1px;
    animation: backdrop 160ms ease-in;
    overflow:visible;
}
@keyframes backdrop {
    0% {outline: 0vh solid rgba(8,8,8,0);}
    55% {outline-color:rgba(8,8,8,.05);}
    100% {outline: 90vw solid rgba(8,8,8,.35);}
}
.popout {
	contain:none;
}
/* backdrop opacity */

.callout-backdrop {
    opacity: .6 !important;
}
